:root{
    --background:#2A2542;
    --primary:#988ACE;
    --secondary:#B9A9F9;
    --accent:#382B68;
}

html,body{
    height: 100%;
}

body{
    background-color:var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

*{
    font-family: 'Harmattan', sans-serif;
}

h1,h2,h3{
    font-family: 'Esteban', serif;
    color:var(--primary);
}

.hide {
    display:none;
}

.inputBorder {
border:0;
border-bottom: 1px solid var(--primary);
background-color: transparent;
color: var(--secondary);
font-size: 20px;
}

.button{
    background-color: var(--secondary);
    border: 0;
    border-radius: 2px;
    color: var(--background);
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    padding: 2px;
    margin: 5px;
}

.label{
    color: var(--secondary);
    font-size: 20px;
    padding: 3px;
}
.checkBox{
    background: #B9A9F9;
}